<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.react.champion.ChampionDao">

<insert id="insertcp" parameterType="com.react.champion.ChampionVO">
	insert into lol_image (idx, champion) values (#{idx}, #{champion})
</insert>

<select id="selectcp" resultType="com.react.champion.ChampionVO">
	select * from lol_image order by champion asc
</select>

<update id="updatecp" parameterType="com.react.champion.ChampionVO">
	update lol_image set image=#{image} where idx=#{idx}
</update>


</mapper>